<div bgcolor="#ffffff" style="margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">
<table class="gmail-fix" bgcolor="#ffffff" width="100%" style="min-width:320px;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="mso-line-height-rule: exactly; display: none; font-size: 0; line-height: 0;">
            <!-- Preheader -->
        </td>
    </tr>
    <tr>
        <td style="mso-line-height-rule: exactly;">
            <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                <tr>
                    <td mc:edit="block_02" class="img-flex" align="center" style="mso-line-height-rule: exactly;">
                        <a style="outline: none; color: sandybrown; text-decoration: none;" href="http://link">
                            <img src="cid:image" width="600" style="border: none; font: 40px/44px Arial, Helvetica, sans-serif; color: #000; vertical-align: top;" alt="Image">
                        </a>
                    </td>
                </tr>
                <!-- content -->
                <tr>
                    <td style="mso-line-height-rule: exactly;">
                        <!-- section -->
                        <table mc:repeatable="container" mc:variant="centered_text_with_color_bg" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="l-white p-25" bgcolor="#f4a460" style="mso-line-height-rule: exactly; padding: 53px 150px 60px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td mc:edit="block_03" align="center" style="mso-line-height-rule: exactly; padding: 0 0 9px; font: 700 26px/35px Arial, Helvetica, sans-serif; color: #fff;">
                                                Thanks, for your help :)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td mc:edit="block_04" align="center" style="mso-line-height-rule: exactly; padding: 0 0 20px; font: 15px/30px Arial, Helvetica, sans-serif; color: #fff;">
                                                Check what you did, we think it looks gorgeous!
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="mso-line-height-rule: exactly;">
                                                <table align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td mc:edit="block_05" class="active-t" bgcolor="#ffffff" align="center" style="mso-line-height-rule: exactly; transition: all 0.3s ease; mso-padding-alt: 14px 30px; font: 700 14px/16px Arial, Helvetica, sans-serif; text-transform: uppercase; border-radius: 22px;">
                                                            <a style="outline: none; padding: 14px 30px; color: sandybrown; text-decoration: none; display: block;" href="http://link">
                                                                TAKE A LOOK
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>

